.App{
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: rgb(93,130,206);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.ContentBox{
    width: 90%;
    height: 85%;

    background-color:rgb(241,243,251);

    border-radius: 12px;

    display: flex;
    align-items: center;
}

.Content{
    width: 100%;
    height: 100%;
}
